[Desktop Entry]
Type=Application
Name=Lightfall
GenericName=Control System
Comment=Lightsource Unified Control Interface Dashboard
Exec=lightfall
Icon=gov.lbl.als.lightfall
Categories=Science;Development;
StartupWMClass=lightfall
Keywords=control;beamline;data;acquisition;
