[Desktop Entry]
Type=Application
Name=LUCID
GenericName=Control System
Comment=Lightsource Unified Control Interface Dashboard
Exec=lucid
Icon=gov.lbl.als.lucid
Categories=Science;Development;
StartupWMClass=lucid
Keywords=control;beamline;data;acquisition;
